Import Libraries

In [1]:
import pandas as pd

Data Collection

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.shape

(57650, 4)

In [4]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,King Crimson,Cat Food,Lady Supermarket with an apple in her basket ...
1,Alice In Chains,I Don't Wanna Be A Soldier,"Well, I don't wanna be a soldier mama, I don't..."
2,Alabama,Lonesome Valley,"\r\nWell, you got to walk that lonesome vall..."
3,Outkast,Tough Guy,(feat. You. G. K.) \r\n(Shaft Soundtrack) \r...
4,Heart,Alone,I hear the ticking of the clock \r\nI'm lying...
5,Old 97's,Bird In A Cage,I left you last night on the left coast \r\nI...
6,Depeche Mode,Fly On The Windscreen,Death is everywhere \r\nThere are flies on th...
7,Men At Work,No Sign Of Yesterday,"Pull out the stop plugs, drain all the waste ..."
8,Robbie Williams,Karaoke Star,Did you do that girl that was in that soap \r...
9,W.A.S.P.,Little Death,Get your forehead into my kiss \r\nEmbrace me...

In [9]:
df['text'][0]

'Lady Supermarket with an apple in her basket  \r\nKnocks in the manager\'s door,  \r\nGrooming to the muzak from a speaker in shoe rack  \r\nLays out her goods on the floor,  \r\nEverything she\'s chosen is conveniently frozen.  \r\n"Eat it and come back for more!"  \r\n  \r\nLady Window Shopper with a new one in the hopper  \r\nWhips up a chemical brew,  \r\nCroaking to a neighbor while she polishes a sabre  \r\nKnows how to flavor a stew.  \r\nNever need to worry with a tin of "Hurri Curri"  \r\n"Poisoned especially for you!"  \r\n  \r\nNo use to complain  \r\nIf you\'re caught out in the rain,  \r\nYour mother\'s quite insane.  \r\nCat food cat food cat food again.  \r\n  \r\nLady Yellow Stamper with a fillet in a hamper  \r\nDying to finish the course,  \r\nGoodies for the table with a fable on the label  \r\nDrowning in miracle sauce.  \r\nDon\'t think I am that rude if I tell you that it\'s cat food,  \r\n"Not even fit for a horse!"\r\n\r\n'

Text Cleaning / Text Pre-Processing

In [10]:
df.shape

(5000, 3)

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s','').replace(r'\n',' ',regex=True)

In [12]:
df.tail(5)

,artist,song,text
4995,Depeche Mode,Home,here is a song from the wrong side of town \r...
4996,Whiskeytown,Mining Town,said you came from a mining town \r til they ...
4997,Bonnie Raitt,Rock Steady,you need a man that'll treat you like the woma...
4998,O.A.R.,Untitled,she takes it deep to the heart right from the ...
4999,Xavier Rudd,Chances,at times in life \r you'll connect with some ...

Import important libraries of NLP for Stemming

In [13]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91860\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [14]:
stemmer = PorterStemmer()   # Reduce words to their Root word

In [15]:
def token(txt):
    token = nltk.word_tokenize(txt)       # split input text into individual words
    a = [stemmer.stem(w) for w in token]  # words reduce to its base form
    return " ".join(a)                    # Join stemmed words into a single string

Stemming

In [16]:
token("Thing things Called Love loving loves loved")

'thing thing call love love love love'

In [17]:
df['text'].apply(lambda x : token(x))    # Select [Text] Column , Pass a ROW inside token(function) & return teken(function)

0       ladi supermarket with an appl in her basket kn...
1       well , i do n't wan na be a soldier mama , i d...
2       well , you got to walk that lonesom valley you...
3       ( feat . you . g. k. ) ( shaft soundtrack ) [ ...
4       i hear the tick of the clock i 'm lie here the...
                              ...
4995    here is a song from the wrong side of town whe...
4996    said you came from a mine town til they close ...
4997    you need a man that 'll treat you like the wom...
4998    she take it deep to the heart right from the s...
4999    at time in life you 'll connect with some and ...
Name: text, Length: 5000, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
tfid = TfidfVectorizer(analyzer = 'word' , stop_words = 'english')

In [20]:
matrix = tfid.fit_transform(df['text'])

Cosine Similarity

In [21]:
similar = cosine_similarity(matrix)

In [22]:
cosine_similarity(matrix)

array([[1.        , 0.00993194, 0.0025183 , ..., 0.00492442, 0.00491223,
        0.00325372],
       [0.00993194, 1.        , 0.00516117, ..., 0.0019568 , 0.00865747,
        0.02452357],
       [0.0025183 , 0.00516117, 1.        , ..., 0.01594311, 0.0187881 ,
        0.        ],
       ...,
       [0.00492442, 0.0019568 , 0.01594311, ..., 1.        , 0.09218528,
        0.02240014],
       [0.00491223, 0.00865747, 0.0187881 , ..., 0.09218528, 1.        ,
        0.08992536],
       [0.00325372, 0.02452357, 0.        , ..., 0.02240014, 0.08992536,
        1.        ]])

In [23]:
similar[1]

array([0.00993194, 1.        , 0.00516117, ..., 0.0019568 , 0.00865747,
       0.02452357])

In [26]:
df[df['song'] == "Rock Steady"]    # Select ROW where SONG matches

,artist,song,text
4997,Bonnie Raitt,Rock Steady,you need a man that'll treat you like the woma...

In [27]:
df[df['song'] == "Rock Steady"].index[0]

4997

Recommender System

In [28]:
def recommender(song_name):
  idx = df[df['song'] == song_name].index[0]
  distance = sorted(list(enumerate(similar[idx])), reverse = True , key = lambda x:x[1])
  song = []
  for s_id in distance[1:21]:
    song.append(df.iloc[s_id[0]].song)
  return song

Recommendation

In [30]:
recommender("Rock Steady")

['Long Live Rock',
 'Rock Me Baby',
 "I'm The Man",
 'And The Cradle Will Rock',
 'Old Time Rock N Roll',
 'Rock Of Gibraltar',
 'Rock Cradle Rock',
 "Rock'n' Roll Widow",
 'Rock Star',
 "Rock N' Roll Girlfriend",
 'Rock Me',
 'Castle Rock',
 'Blonde In The Bleachers',
 'Rock Me Amadeus',
 'We Will Rock You',
 'I Used To Rock And Roll All Night',
 'Crazy For You',
 'Rip It Up',
 "Rock 'n Roll Band",
 'Make Love Like A Man']

WEB APPLICATION

In [31]:
import pickle

In [32]:
pickle.dump(similar,open("similarity","wb"))

In [33]:
pickle.dump(df,open("df","wb"))